<!DOCTYPE html>
<meta content="width=device-width,user-scalable=no" name="viewport">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h3>选一个选一个</h3>
        <!--
        <div class="register-login">
            <a class="btn top-btn btn-theme" href="/ChristmasTree/">一颗树</a>
            <a class="btn top-btn btn-theme" href="/PinkHeart/">心心</a>
            <a class="btn top-btn btn-theme" href="/ChristmasGifts/">好多树</a>
        </div>
        !-->
    <form>
        <div >
            <a  href="/ChristmasTree/">
                一颗树
            </a>
        </div>
        <div >
            <a href="/PinkHeart/">
                心心
            </a>
        </div>
        <div >
            <a href="/ChristmasGifts/">
                好多树
            </a>
        </div>
        <div >
            <a href="/fireworks/">
                烟花
            </a>
        </div>
        <!--
        <div class="form-option form-option--select">
            <label class="sky-lighting-label">
									照亮天空
            </label>
            <button href="/ChristmasTree/">
            </button>
        </div>
        !-->
    </form>
</body>
</html>